.spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:where(.spinner--overlay) {
    position: absolute;
    inset: 0;
    background-color: rgba(14, 22, 22, 0.8);
    backdrop-filter: blur(4px);
    z-index: 10;
    border-radius: inherit;
  }

  & .spinner__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
  }

  & .spinner__icon {
    font-size: 2rem;
    color: var(--color-primary);
  }

  &.spinner--small .spinner__icon {
    font-size: 1rem;
  }

  &.spinner--large .spinner__icon {
    font-size: 3rem;
  }

  & .spinner__text {
    color: var(--color-text-light);
    font-size: 0.875rem;
  }

  &.spinner--small .spinner__text {
    font-size: 0.75rem;
  }

  &.spinner--large .spinner__text {
    font-size: 1rem;
  }
}
