<div
  tooltipPosition="bottom"
  [pTooltip]="
    (buttonModel()?.permission | async)?.allowed &&
    (buttonModel()?.disabledSignal?.() ?? buttonModel()?.optionDisabled ?? false)
      ? buttonModel()?.tooltipMessageDisabled
      : (buttonModel()?.permission | async)?.message || buttonModel()?.tooltipMessage
  ">
  <p-button
    #buttonElement
    [type]="buttonModel()?.type || 'button'"
    [icon]="buttonModel()?.iconName"
    [outlined]="buttonModel()?.style === 'icon-outlined' ? 'outlined' : null"
    [disabled]="
      (buttonModel()?.disabledSignal?.() ?? buttonModel()?.optionDisabled ?? false) ||
      !(buttonModel()?.permission | async)?.allowed
    "
    [text]="true"
    [severity]="buttonModel()?.severity || 'primary'"
    [styleClass]="buttonModel()?.styleClass"
    (click)="
      buttonElement.disabled || (buttonModel()?.type || 'button') === 'submit'
        ? null
        : buttonModel()?.action(targetId)
    ">
  </p-button>
</div>
