<div
  class="photo-slot"
  [class.photo-slot--sm]="size() === 'sm'"
  [class.photo-slot--md]="size() === 'md'"
  [class.photo-slot--lg]="size() === 'lg'"
  [class.photo-slot--xl]="size() === 'xl'"
  [class.photo-slot--circle]="shape() === 'circle'"
  [class.photo-slot--square]="shape() === 'square'"
  [class.photo-slot--readonly]="readonly()"
  (click)="onClick()"
  role="button"
  tabindex="0"
  (keydown.enter)="onClick()"
  (keydown.space)="onClick()">
  @if (imageUrl()) {
    <img
      class="photo-slot__image"
      [src]="imageUrl()"
      alt="Foto de perfil" />
    @if (!readonly()) {
      <div class="photo-slot__overlay">
        <i class="pi pi-pencil"></i>
        <span>Cambiar</span>
      </div>
    }
  } @else {
    @if (readonly()) {
      @if (hasInitials()) {
        <span class="photo-slot__initials">{{ initials() }}</span>
      } @else {
        <i class="pi pi-user photo-slot__fallback-icon"></i>
      }
    } @else {
      <div class="photo-slot__placeholder">
        <i [class]="placeholderIcon()"></i>
        <span>{{ placeholderText() }}</span>
      </div>
    }
  }
</div>
